<configuration>
    <packageSources>
        <clear />
        <add key="Mis nuggets" value="C:\Users\Francisco.puga\Desktop\nuggets" />
        <add key="Elsa 3 Preview" value="https://f.feedz.io/elsa-workflows/elsa-3/nuget/index.json" />
        <add key="NuGet official package source" value="https://api.nuget.org/v3/index.json" />
    </packageSources>

    <packageSourceMapping>
        <packageSource key="Mis nuggets">
            <package pattern="Elsa" />
            <package pattern="Elsa.*" />
        </packageSource>
        <packageSource key="NuGet official package source">
            <package pattern="*" />
        </packageSource>
    </packageSourceMapping>
</configuration>
